body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
header{
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  color: #fafafa;
  background-color: #111111;
  
}
.header_Menu{
  width: 100%;
  height: 3vh;
  text-align: center;
  border-bottom: 1px solid #363636;
  border-top: 1px solid #363636;
  background-color: #000000;
}






footer{
  display: block;
  min-width: 100%;
  margin-bottom: -1vh;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  color: #fafafa;
  background-color: #111111;
  text-align: center;

}